# PH 245 Final Project - Flu Absenteeism

In [6]:
# Loading Data (using high-speed data.tables for speed)
library(data.table)

absenteeAll = fread(file="../absentee/Combined-data/absentee_all.csv")
#absenteeFlu = fread(file="../absentee/Combined-data/absentee-flu.csv")
absenteeNonFlu = fread(file="../absentee/Combined-data/absentee-nonflu.csv")
#absenteeFromR = fread(file="../absentee/Combined-data/absentee-fromR.csv")

Read 42797568 rows and 9 (of 9) columns from 2.816 GB file in 00:00:47
Read 22557224 rows and 31 (of 31) columns from 3.992 GB file in 00:02:47
Read 9274684 rows and 31 (of 31) columns from 1.633 GB file in 00:00:29
Read 20409719 rows and 30 (of 30) columns from 3.215 GB file in 00:01:09

In [7]:
head(absenteeAll)
#head(absenteeFlu)
head(absenteeNonFlu)
#head(absenteeFromR)

  schoolyr date      grade race             absent_nonill absent_ill dist
1 2011-12  29aug2011 0     African American 0             0          OUSD
2 2011-12  29aug2011 0     African American 0             0          OUSD
3 2011-12  29aug2011 0     African American 0             0          OUSD
4 2011-12  29aug2011 0     Asian            0             0          OUSD
5 2011-12  29aug2011 0     Latino           0             0          OUSD
6 2011-12  29aug2011 0     Latino           0             0          OUSD
  school                    matchid
1 ACORN Woodland Elementary 0
2 ACORN Woodland Elementary 0
3 ACORN Woodland Elementary 0
4 ACORN Woodland Elementary 0
5 ACORN Woodland Elementary 0
6 ACORN Woodland Elementary 0

  V1 dist school                    schoolyr date       grade race
1 1  OUSD ACORN Woodland Elementary NA       NA         NA    NA
2 2  OUSD Allendale Elementary      2011-12  2011-10-03 0     African American
3 3  OUSD Allendale Elementary      2011-12  2011-10-03 0     African American
4 4  OUSD Allendale Elementary      2011-12  2011-10-03 0     African American
5 5  OUSD Allendale Elementary      2011-12  2011-10-03 0     African American
6 6  OUSD Allendale Elementary      2011-12  2011-10-03 0     African American
  absent_nonill absent_ill matchid ⋯ per.englearn per.freelunch API13 API12
1 NA            NA         NA      ⋯ 64.41948     86.70         798   848
2  0             0         14      ⋯ 41.17647     79.91         663   725
3  0             0         14      ⋯ 41.17647     79.91         663   725
4  0             0         14      ⋯ 41.17647     79.91         663   725
5  1             0         14      ⋯ 41.17647     79.91         663   725
6  0             0         14      ⋯ 41.17647     79.91         663   725
  mean.cst.ela per.adv.ela per.basic.ela mean.cst.m per.adv.m per.basic.m
1 360.600      22.50       26.5          392.025    35.50     11.75
2 329.625       8.75       38.5          333.425    10.75     29.00
3 329.625       8.75       38.5          333.425    10.75     29.00
4 329.625       8.75       38.5          333.425    10.75     29.00
5 329.625       8.75       38.5          333.425    10.75     29.00
6 329.625       8.75       38.5          333.425    10.75     29.00

  V1 dist school                    schoolyr date       grade race
1 1  OUSD ACORN Woodland Elementary NA       NA         NA    NA
2 2  OUSD Allendale Elementary      2011-12  2011-08-29 0     African American
3 3  OUSD Allendale Elementary      2011-12  2011-08-29 0     African American
4 4  OUSD Allendale Elementary      2011-12  2011-08-29 0     African American
5 5  OUSD Allendale Elementary      2011-12  2011-08-29 0     African American
6 6  OUSD Allendale Elementary      2011-12  2011-08-29 0     African American
  absent_nonill absent_ill matchid ⋯ per.englearn per.freelunch API13 API12
1 NA            NA         NA      ⋯ 64.41948     86.70         798   848
2  1             0         14      ⋯ 41.17647     79.91         663   725
3  0             0         14      ⋯ 41.17647     79.91         663   725
4  0             0         14      ⋯ 41.17647     79.91         663   725
5  0             0         14      ⋯ 41.17647     79.91         663   725
6  0             0         14      ⋯ 41.17647     79.91         663   725
  mean.cst.ela per.adv.ela per.basic.ela mean.cst.m per.adv.m per.basic.m
1 360.600      22.50       26.5          392.025    35.50     11.75
2 329.625       8.75       38.5          333.425    10.75     29.00
3 329.625       8.75       38.5          333.425    10.75     29.00
4 329.625       8.75       38.5          333.425    10.75     29.00
5 329.625       8.75       38.5          333.425    10.75     29.00
6 329.625       8.75       38.5          333.425    10.75     29.00

  dist school               schoolyr date       grade race
1 OUSD Allendale Elementary 2011-12  2011-10-03 0     African American
2 OUSD Allendale Elementary 2011-12  2011-10-03 0     African American
3 OUSD Allendale Elementary 2011-12  2011-10-03 0     African American
4 OUSD Allendale Elementary 2011-12  2011-10-03 0     African American
5 OUSD Allendale Elementary 2011-12  2011-10-03 0     African American
6 OUSD Allendale Elementary 2011-12  2011-10-03 0     African American
  absent_nonill absent_ill matchid month ⋯ per.freelunch API13 API12
1 0             0          14      10    ⋯ 79.91         663   725
2 0             0          14      10    ⋯ 79.91         663   725
3 0             0          14      10    ⋯ 79.91         663   725
4 0             0          14      10    ⋯ 79.91         663   725
5 0             0          14      10    ⋯ 79.91         663   725
6 0             0          14      10    ⋯ 79.91         663   725
  mean.cst.ela per.adv.ela per.basic.ela mean.cst.m per.adv.m per.basic.m
1 329.625      8.75        38.5          333.425    10.75     29
2 329.625      8.75        38.5          333.425    10.75     29
3 329.625      8.75        38.5          333.425    10.75     29
4 329.625      8.75        38.5          333.425    10.75     29
5 329.625      8.75        38.5          333.425    10.75     29
6 329.625      8.75        38.5          333.425    10.75     29
  absent_all
1 0
2 0
3 0
4 0
5 0
6 0

In [8]:
colnames(absenteeNonFlu)

 [1] "dist"          "school"        "schoolyr"      "date"
 [5] "grade"         "race"          "absent_nonill" "absent_ill"
 [9] "matchid"       "month"         "flusesn"       "dist.n"
[13] "enrolled"      "mn.class.size" "per.not_hsg"   "per.hsg"
[17] "per.some_col"  "per.col_grad"  "per.grad_sch"  "per.englearn"
[21] "per.freelunch" "API13"         "API12"         "mean.cst.ela"
[25] "per.adv.ela"   "per.basic.ela" "mean.cst.m"    "per.adv.m"
[29] "per.basic.m"   "absent_all"

In [9]:
#absenteeP3 = fread(file="../absentee/Combined-data/absentee_P3.csv")

Read 15151352 rows and 31 (of 31) columns from 2.595 GB file in 00:01:09

In [10]:
#head(absenteeP3)

  V1 dist school                    schoolyr date       grade race
1 1  OUSD ACORN Woodland Elementary 2012-13  2013-03-08 2     Latino
2 2  OUSD ACORN Woodland Elementary 2012-13  2013-04-10 0     African American
3 3  OUSD ACORN Woodland Elementary 2012-13  2013-03-08 2     Latino
4 4  OUSD ACORN Woodland Elementary 2011-12  2011-10-03 3     Latino
5 5  OUSD ACORN Woodland Elementary 2012-13  2013-03-08 2     Latino
6 6  OUSD ACORN Woodland Elementary 2012-13  2013-04-10 0     Latino
  absent_nonill absent_ill matchid ⋯ per.englearn per.freelunch API13 API12
1 0             0          0       ⋯ 64.41948     86.7          798   848
2 0             0          0       ⋯ 64.41948     86.7          798   848
3 0             0          0       ⋯ 64.41948     86.7          798   848
4 0             0          0       ⋯ 64.41948     86.7          798   848
5 0             0          0       ⋯ 64.41948     86.7          798   848
6 0             0          0       ⋯ 64.41948     86.7          798   848
  mean.cst.ela per.adv.ela per.basic.ela mean.cst.m per.adv.m per.basic.m
1 360.6        22.5        26.5          392.025    35.5      11.75
2 360.6        22.5        26.5          392.025    35.5      11.75
3 360.6        22.5        26.5          392.025    35.5      11.75
4 360.6        22.5        26.5          392.025    35.5      11.75
5 360.6        22.5        26.5          392.025    35.5      11.75
6 360.6        22.5        26.5          392.025    35.5      11.75

In [31]:
nrow(absenteeAll[absent_ill < 1])/nrow(absenteeAll)

[1] 0.9766143

In [44]:
unique(absenteeNonFlu[,per.not_hsg])
unique(absenteeNonFlu[,per.some_col])
unique(absenteeNonFlu[,per.col_grad])

 [1] 33 27 24 55 41 12  6  1  4 62 50 14 44 59 34 40 35  2  9 36 48 37 13 16 42
[26] 38 25 43 28  0 26  7 45 31  5 30 51  3 19 47 22 54  8 58

 [1] 20 27 24 11 15 40 38  7 28 10  3 14 32 22 18  9 47 25 44  8 16 17 19 21 13
[26] 29 31 37 12  4 23

 [1]  8 12 15  3 20 23 28 30  2 32 17  7  4 11 16  5  6 35 39 24  9 18 13 38 10
[26] 14 26 37 31 21 41 42 40 19

In [51]:
subs = absenteeNonFlu[per.not_hsg == 27, c("per.englearn", "per.not_hsg")]
unique(subs$per.englearn)

[1] 41.17647 44.03670 35.53459 28.78788 48.88476